.header {
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .title {
    font-size: 4.5rem;
    margin: 0;
    text-transform: uppercase;
  }
  .subtitle {
    font-size: 1.9rem;
    text-transform: uppercase;
    letter-spacing: 8px;
    margin: 0;
  }
}
.hero-image {
  z-index: -1;
  position: absolute;
  top: -35rem;
  left: -50rem;
}
.about-me {
  display: flex;
  padding: 10rem;
  height: 65vh;
  overflow: hidden;
  &_image {
    width: 50%;
    padding: 10rem;
    position: relative;
    overflow: hidden;
    &-pic {
      position: absolute;
      top: -25rem;
      width: 100%;
      height: auto;
    }
  }
  &_text-content {
    width: 50%;
    &_heading {
      font-size: 1.4rem;
      text-transform: uppercase;
    }
    &_paragraph {
      padding: 2rem 0;
      font-size: 1.5rem;
      width: 80%;
    }
  }
}
.work-section {
  min-height: 50vh;
  padding-bottom: 10rem;
  padding-left: 10rem;
  &_text-content_heading {
    font-size: 1.4rem;
    text-transform: uppercase;
  }
  &_image-grid {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 5rem;
  }
}
.gallery-image {
  width: 50rem;
  padding: 1rem 1rem 0 0;
  height: auto;
}
