.logo-box_logo {
  font-size: 1.7rem;
  &-link {
    color: white;
    text-decoration: none;
  }
}
.navigation {
  position: absolute;
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
  top: 0;
  left: 0;
  width: 100%;

  &-bar {
    display: flex;
    &_item {
      font-size: 1.5rem;
      text-decoration: none;
      margin-right: 1rem;
      color: white;
    }
  }
}
.header {
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  justify-content: center;
  background-position: bottom;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.75),
      rgba(0, 0, 0, 0.85)
    ),
    url("../images/heroimg.jpg");
  background-attachment: fixed;
  .title {
    opacity: 0;
    font-size: 4.5rem;
    margin: 0;
    text-transform: uppercase;
    animation: fade-in 0.7s ease-out forwards;
  }
  .subtitle {
    font-size: 1.9rem;
    opacity: 0;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0;
    animation: fade-in 0.3s ease-out forwards;
  }
}
.categories-section {
  display: flex;
  min-height: 30vh;
  flex-wrap: wrap;
  &_category {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    &_link {
      font-size: 1.8rem;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: 700;
      color: black;
    }
  }
}
.section-1 {
  background-image: linear-gradient(
      to right,
      rgba(219, 219, 219, 0.452),
      rgba(255, 255, 255, 0.137)
    ),
    url("../images/img2.jpg");
}
.section-2 {
  background-image: linear-gradient(
      to right,
      rgba(219, 219, 219, 0.452),
      rgba(255, 255, 255, 0.137)
    ),
    url("../images/img4.jpg");
}
.section-3 {
  background-image: linear-gradient(
      to right,
      rgba(219, 219, 219, 0.452),
      rgba(255, 255, 255, 0.137)
    ),
    url("../images/img1.jpg");
}
.section-4 {
  background-image: linear-gradient(
      to right,
      rgba(219, 219, 219, 0.452),
      rgba(255, 255, 255, 0.137)
    ),
    url("../images/img6.jpg");
}
.about-me {
  display: flex;
  padding: 10rem 3rem;
  height: auto;
  overflow: hidden;
  &_image {
    width: 50%;
    padding: $padding-default;
    position: relative;
    overflow: hidden;
    &-pic {
      position: absolute;
      bottom: 0rem;
      width: 100%;
      height: auto;
    }
  }
  &_text-content {
    color: black;
    width: 50%;
    &_heading {
      font-size: 1.4rem;
      letter-spacing: 4px;
      text-transform: uppercase;
    }
    &_paragraph {
      padding: 2rem 0;
      font-size: 1.5rem;
      width: 80%;
    }
  }
}

.work-section {
  margin: 7rem 0;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  min-height: 50vh;
  padding-bottom: $padding-default;
  padding-left: $padding-default;
  &_button {
    text-transform: uppercase;
    font-size: 1.4rem;
    letter-spacing: 4px;
    color: black;
    text-decoration: none;
    font-weight: 700;
    border-bottom: solid 2px black;
  }
  &_text-content_heading {
    font-size: 1.4rem;
    letter-spacing: 4px;
    text-transform: uppercase;
  }
  &_image-grid {
    width: 95%;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 5rem 0;
  }
}
.gallery-image {
  width: 53rem;
  padding: 1rem 1rem 0 0;
  height: auto;
}
.form-section {
  margin: 8rem 0;
  display: flex;
  padding-left: $padding-default;
}
.contact-form {
  &_text-content {
    width: 50%;
    &_heading {
      font-size: 1.4rem;
      letter-spacing: 4px;
      text-transform: uppercase;
    }
    &_paragraph {
      padding: 2rem 0;
      font-size: 1.5rem;
      width: 90%;
    }
  }
}
.contact-me {
  width: 50%;
  margin-right: 7rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  input,
  textarea {
    width: 100%;
    padding: 5px 8px;
    font-family: inherit;
    &:focus {
      outline: none;
    }
  }
  label {
    font-size: 1.4rem;
    padding-top: 0.5rem;
  }
  #submit {
    background-color: black;
    color: white;
    border: none;
    text-align: center;
    text-transform: uppercase;
    padding: 1rem 3rem;
    margin: 2rem 0;
    width: auto;
  }
}

.price-section {
  padding: 7rem $padding-default 0 $padding-default;
  &_heading {
    text-transform: uppercase;
  }
  &_paragraph {
    padding-top: 1rem;
    font-size: 1.3rem;
  }
  &_link {
    display: inline-block;
    text-decoration: none;
    margin-top: 1rem;
    background-color: black;
    color: white;
    padding: 1rem 2rem;
  }
  &_inquiry {
    padding-top: $padding-default;
  }
  &_image {
    &-pic {
      width: 100rem;
      height: auto;
      margin: 3rem auto;
    }
  }
}
.footer {
  background-color: black;
  color: white;
  display: flex;
  padding: 2rem 3rem;
  height: 10vh;
  justify-content: space-between;
  &-links {
    display: flex;
    flex-direction: column;
    width: 20%;
    &_item {
      color: white;
      text-decoration: none;
    }
  }
  &-text {
    width: 40%;
  }
}
.margin-auto {
  margin: 2rem auto;
}
@media only screen and (max-width: 1440px) {
  .about-me {
    overflow: hidden;
    &_image {
      display: none;
    }
    &_text-content {
      width: 100%;

      &_paragraph {
        width: 95%;
      }
    }
  }
}

@media only screen and (max-width: 1220px) {
  .gallery-image {
    width: 43rem;
    padding: 1rem 1rem 0 0;
    height: auto;
  }
}
@media only screen and (max-width: 1010px) {
  .categories-section {
    &_category {
      width: 50%;
    }
  }
  .gallery-image {
    width: 38rem;
    padding: 1rem 1rem 0 0;
    height: auto;
  }
}
@media only screen and (max-width: 945px) {
  .gallery-image {
    width: 34rem;
    padding: 1rem 1rem 0 0;
    height: auto;
  }
}
@media only screen and (max-width: 900px) {
  .form-section {
    flex-direction: column;
  }
  .gallery-image {
    width: 30rem;
    padding: 1rem 1rem 0 0;
    height: auto;
  }
  .contact-form {
    &_text-content {
      width: 100%;
    }
  }
  .contact-me {
    width: 90%;
  }
}
@media only screen and (max-width: 810px) {
  .gallery-image {
    width: 27rem;
    padding: 1rem 1rem 0 0;
    height: auto;
  }
}
@media only screen and (max-width: 720px) {
  .gallery-image {
    width: 23rem;
    padding: 1rem 1rem 0 0;
    height: auto;
  }
}
@media only screen and (max-width: 680px) {
  .categories-section {
    &_category {
      width: 100%;
    }
  }
  .form-section {
    padding-left: $padding-default-mobile;
  }
  html {
    font-size: 50%;
  }
  .gallery-image {
    width: 85%;
    padding: 1rem 1rem 0 0;
    height: auto;
  }
  .work-section {
    padding-left: $padding-default-mobile;
  }
  .about-me {
    padding: $padding-default-mobile;
  }
}
@media only screen and (max-width: 450px) {
  html {
    font-size: 45%;
  }
}
@media only screen and (max-width: 400px) {
  .header {
    .title {
      font-size: 3.4rem;
      margin: 0;
      text-transform: uppercase;
    }
    .subtitle {
      font-size: 1rem;
      text-transform: uppercase;
      letter-spacing: 8px;
      margin: 0;
    }
  }
}

@media only screen and (max-width: 350px) {
  html {
    font-size: 40%;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
[data-scroll] {
  transition: all 0.7s ease-in;
}
[data-scroll="in"] {
  opacity: 1;
  transform: translateX(0);
}
[data-scroll="out"] {
  opacity: 0;
  transform: translateX(-50px);
}

.black {
  color: black;
}
